<img src='{{randomBeer.image_url}}' alt='Beer Pic' />
<h3>{{randomBeer.name}}</h3>
<h5>{{randomBeer.tagline}}</h5>
<h5>{{randomBeer.description}}</h5>
<h5>{{randomBeer.food_pairing}}</h5>
<h5>{{randomBeer.brewers_tips}}</h5>